layout {

    focus-ring {
        active-color   "#add36f"
        inactive-color "#091613"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#add36f"
        inactive-color "#091613"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#add36f"
        inactive-color "#344e00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#add36f80"
    }
}

recent-windows {
    highlight {
        active-color "#add36f"
        urgent-color "#ffb4ab"
    }
}
