* {
    background:     	#110F0F25;
    background-alt: 	#76707725;
    foreground:     	#EADED2;
    selected:       	#A3773A40;
    active:         	#95725C10;
    urgent:         	#797EA175;
    Prompt:		#110F0F;
}
