* {
    background:     	#12121925;
    background-alt: 	#41608925;
    foreground:     	#D9E5F5;
    selected:       	#ABA8C040;
    active:         	#3A496710;
    urgent:         	#A7A6D175;
    Prompt:		#121219;
}
