* {
    background:     	#1A1E2025;
    background-alt: 	#CDC24A25;
    foreground:     	#EEF6FC;
    selected:       	#F2DA8540;
    active:         	#F2907410;
    urgent:         	#D3D7E275;
    Prompt:		#1A1E20;
}
