* {
    surface:     	{{background}}70;
    surface-container-highest: 	{{background}}70;
    surface-alpha : {{color1}};
    on-surface:     	{{foreground}};
    surface:       	{{background}}50;
    tertiary:         	{{color2}};
    primary:     {{foreground}};            
    error:         	{{color1}};
    Prompt:		{{background}};
}
