* {
    background:               #1B1F1D;
    background-alt:           #AA9F95;
    foreground:               #FCF1E8;
    selected:                 #918563;
    active:                   #D8A454;
    urgent:                   #9F8D55;
}
