* {
    background:               #242230;
    background-alt:           #ACA38D;
    foreground:               #FFF5E0;
    selected:                 #85947A;
    active:                   #F3DDA2;
    urgent:                   #A9BE99;
}
