* {
    background:               #000004;
    background-alt:           #8B9587;
    foreground:               #DDE8D9;
    selected:                 #86776A;
    active:                   #CCAE8F;
    urgent:                   #8A715D;
}
